.carouselContainer {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  position: relative;
}

.carousel {
  border-radius: 8px;
  overflow: visible;
  box-shadow: 0 4px 6px rgba(33, 42, 33, 0.8);
}

.carouselImage {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.carouselCaption {
  background-color: rgba(33, 42, 33, 0.8);
  border-radius: 8px;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px; 
  width: 80%;
  max-width: 600px;
}

.captionTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.captionName {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.captionStat {
  font-size: 1rem;
  margin-bottom: 0;
}

/* Custom styles for carousel controls */
:global(.carousel-control-prev),
:global(.carousel-control-next) {
  width: 5%;
  opacity: 1;
}

:global(.carousel-control-prev-icon),
:global(.carousel-control-next-icon) {
  background-color: rgba(33, 42, 33, 0.8);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

:global(.carousel-control-prev-icon::after),
:global(.carousel-control-next-icon::after) {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 3px solid #ffa500;
  border-right: 3px solid #ffa500;
  transition: all 0.3s ease;
}

:global(.carousel-control-prev-icon::after) {
  transform: rotate(-135deg);
  margin-left: 5px;
}

:global(.carousel-control-next-icon::after) {
  transform: rotate(45deg);
  margin-right: 5px;
}

:global(.carousel-control-prev:hover .carousel-control-prev-icon),
:global(.carousel-control-next:hover .carousel-control-next-icon) {
  width: 50px;
  height: 50px;
}

:global(.carousel-control-prev:hover .carousel-control-prev-icon::after),
:global(.carousel-control-next:hover .carousel-control-next-icon::after) {
  width: 12px;
  height: 12px;
}

/* Position the controls outside the image */
:global(.carousel-control-prev) {
  left: -50px;
}

:global(.carousel-control-next) {
  right: -50px;
}

/* Custom styles for carousel indicators */
:global(.carousel-indicators) {
  bottom: -40px;
}

:global(.carousel-indicators button) {
  width: 10px;
  height: 10px;
  background-color: #ffa500; /* Orange */
  opacity: 0.5;
  margin: 0 5px;
}

:global(.carousel-indicators button.active) {
  background-color: #ff8c00; /* Dark orange */
  opacity: 1;
}

/* Hide default arrow images */
:global(.carousel-control-prev-icon),
:global(.carousel-control-next-icon) {
  background-image: none;
}