.profileContainer {
  display: inline-block;
  margin-left: 10px;
}

.profileButton {
  padding: 5px 10px;
  font-size: 14px;
}

.profileOffcanvas {
  width: 250px !important;
  height: 300px !important;
  top: 100px !important;
  
}

.coreProfileInfo {
  text-align: center;
}

.viewProfileLink {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #007bff;
}

.viewProfileLink:hover {
  text-decoration: underline;
}